<% provide(:title, 'All users') %>
<h1>

<%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Universal Search for Users by Name/Email ID" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<% if current_user.admin?%>
<li><%= link_to "Add Users", signup_path %></li>
<% end %>
</h1>
<h1>All Library users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %> |
     <% if current_user.admin?%>
<% if user.admin?%> <%= link_to "Remove Admin", user ,:action => :removeadminstatus, :id => user.id, method: :post, data: { confirm: "Confirm?" } %> | <% end %> <% if user.member?%> <%= link_to "Remove Member", user, method: :delete, data: { confirm: "Confirm?" } %> <% end %> | <%= link_to "Delete User", user, method: :delete, data: { confirm: "Confirm?" } %>
      <% end %>
    </li>
  <% end %>
</ul>
