<% provide(:title, 'All Books') %>

<h1>All Library Books</h1>

<ul class="books">
  <% @books.each do |book| %>
<h5>    
<li>
<%= link_to book.title, book %> |
<font color="black"><i><%= " by " %></i><%= book.author %></font>
<% if current_user.admin?%> | <%= link_to "delete", book, method: :delete, data: { confirm: "Confirm?" } %>
<% end %>
<% if book.status?%> | <font color="green"><%= "Available to checkout"%></font>
<% else %> | <font color="red"><%= "Checked out" =%></font>
<% end %>
</li>
<% end %>
</h5>
</ul>
